*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{ 
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
  background-color: #ededed; 
    display:grid;
    grid-template-columns:25%  25% 50%;
   grid-template-rows: 26% 55% 19%;
}
#left-top-left{
     /* background-color: crimson; */
    padding: 30px;
}
#square{
    width: 25px;
    height: 25px;
    rotate: 45deg;
     background-color:black ; 
}
#left-top-right{
     /* background-color:rgb(56,19,83);  */
    /* justify-self: right; */
    padding: 40px;
    text-align: right; 

    }
    #left-top-right h4{
         /* background-color: red;  */
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
    }
    #left-top-right h5{
         /* background-color: red;  */
        font-size: 15px;
        font-weight: 500;
         color: #333; 
    }
    #left-top-right h6{
        display: none;
    }

#left-center{
    /* background-color: royalblue;  */
    grid-column: 1/3;
    padding: 40px;
}
#left-center h1{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 5vw;
    font-family: Arial, Helvetica, sans-serif
}
#left-center h1:nth-child(2n) {
    text-align: center;
}
#left-bottom{
     /* background-color:chartreuse;  */
    grid-column: 1/3;
    padding: 40px;
}
#left-bottom p{
    width: 90%;
    font-size: 15px;
    font-weight: 500;
     color: #666; 
}
#right{
     /* background-color:blueviolet;  */
  grid-column:3;
   grid-row: 1/4;
   padding: 40px;
   padding-right: 150px;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    object-position: 70% 20%;
    
}
#arrow{
    position: absolute;
    top: 50%;
    left: 51%;
    transform:translate(-50%,-50%) ;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: orangered;  
    padding: 20px;
    color: #fff;
    border-radius: 50%;
    
}
#arrow i{
   font-size: 30px;
   font-weight: 100;

}
@media (max-width:600px) {
    #main{
    grid-template-columns: 50% 50%;
   grid-template-rows: 60px 35% 8%;
}
#left-top-left{
    /* background-color: crimson; */
   padding: 20px;
}
#square{
   width: 15px;
   height: 15px;
   
}
#left-top-right{
    /* background-color:rgb(56,19,83);  */
   /* justify-self: right; */
   padding: 20px;
   text-align: right; 

   }
   #left-top-right h4{
        display: none;
   }
   #left-top-right h5{
        display: none; 
   }
   #left-top-right h6{
    display: initial;
    font-size: 20px;
   }

#left-center{
   /* background-color: royalblue;  */
   grid-column: 1/3;
   padding: 20px 20px;
}
#left-center h1{
   font-size: 15vw;
   line-height: 15vw;
  
}
#left-center h1:nth-child(2n) {
   text-align: right;
}
#left-bottom{
   
   padding: 15px 20px;
}
#left-bottom p{
   width: 90%;
   font-size: 10px;
   font-weight: 500;
    color: #666; 
}

#arrow{
   position: absolute;
   top: 53%;
   left: 50%;
   padding: 10px;
  transform: translate(-50% ,-50%) rotate(90deg);
   
}
#arrow i{
  font-size: 20px;
  }
  
#right{
 grid-column:1/3;
  grid-row: 4;
  padding: 20px;
  padding-right: 20px;
}
#right video{
    height:42vh;
}
}

    
    


    
    
